.normalButton {
  width: 40px;
  border: none;
  background-color: #1976d2;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  text-align: center;
}

.normalButton:hover {
  background-color: #1976d2;
}

.equals {
  width: 80px;
  grid-column: 3 / 5;
  background-color: rgb(243, 61, 29);
}

.equals:hover {
  background-color: rgb(228, 39, 15);
}
