.infinite-scroll-component__outerdiv {
  height: 100%;
  width: max-content;
}
/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}
